* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {

}


.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}




select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }
#searchAddress {
    padding: 0 2vw !important;
    width: 90vw;
    margin: 5vw;
    height: 20vh;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(157,189,198,0.09);
    box-shadow: 0px 0px 10px 0px rgba(173,181,183,0.87);
    border-radius: 3px;
}
.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 44px !important;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #999;
}
.hdpi.pac-logo:after {
    display: none !important;
}
#map {
    width: 100vw;
}


.gmnoprint {
    display: none !important;
}






.wrap_camera {
    position: relative;
    padding-top: 110px;
    padding-bottom: 50px;
    .top_border_cam {
        background: url(../img/border_top_cam.png) no-repeat;
        position: absolute;
        top: 0;
        width: 100%;
        height: 150px;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }

    .bottom_border_cam {
        background: url(../img/border_bottom_cam.png) 0 100% no-repeat;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 150px;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    #video {
        margin-top: -54px;
        margin-left: 0;
    }
}