body {

}


.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

#searchAddress {
    padding: 0 2vw !important;
    width: 80vw;
    margin: 0 auto;
    background: #fff;
}
#map {

}


