body {

}


.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}





.wrap_camera {
    position: relative;
    padding-top: 110px;
    padding-bottom: 50px;
    .top_border_cam {
        background: url(../img/border_top_cam.png) no-repeat;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }

    .bottom_border_cam {
        background: url(../img/border_bottom_cam.png) no-repeat;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    #video {
        margin-top: -54px;
        margin-left: 0;
    }
}