nav {
    background: #fff;
    border-top: 30px solid #333745;
    height: 100px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    .brand-logo {
        width: 210px;
        height: 39px;
        display: inline-block;
        background: #fff url(../img/mobile_logo-2x.png) no-repeat center center;
        background-size: contain;
        margin-top: 20px;
    }
}
