<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/vendor.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/project.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <a class="logo" href="/">Логотип</a>
        <a class="logout right" href="#"><i class="material-icons">power_settings_new</i></a>
        <a class="user right" href="#"><i class="material-icons">perm_identity</i> Петров А. В.</a>
    </div>
</div>


<div class="container">
    <table>


        <tbody>
        <tr>
            <td>Имя: </td>
            <td></td>
        </tr>
        <tr>
            <td>Отчество: </td>
            <td></td>
        </tr>
        <tr>
            <td>Фамилия: </td>
            <td></td>
        </tr>
        <tr>
            <td>Электронный адрес: </td>
            <td></td>
        </tr>
        <tr>
            <td>Телефон: </td>
            <td></td>
        </tr>
        <tr>
            <td>Номер водительского удостоверения: </td>
            <td></td>
        </tr>
        <tr>
            <td>Срок окончания водительского удостоверения: </td>
            <td></td>
        </tr>
        <tr>
            <td>Рандомное поле: </td>
            <td></td>
        </tr>
        <tr>
            <td>Рандомное поле: </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team ofis project and is greatly appreciated.</p>


            </div>

        </div>
    </div>
</footer>

<script src="../js/vendor.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
</body>
</html>
